<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load cache %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1">
</head>

<body>
    <div class="body_main">

        <main>

            {% block content %}
            {% endblock %}

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="{% static 'js/chartjs-plugin-zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery3-6-0.min.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>

    <script defer>

        var data = []
        var title = '{{ title }}';
        var ctx = document.getElementById('chart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(item => {
                    var startTimestamp = item[0];
                    var endTimestamp = item[1];

                    return `${startTimestamp} - ${endTimestamp}`;
                }),
                datasets: [
                    {
                        label: 'Min Values',
                        data: data.map(item => item[2]),
                        backgroundColor: '#fff'
                    },
                    {
                        label: 'Max Values',
                        data: data.map(item => item[3]),
                        backgroundColor: '#fff'
                    }
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: title,
                        color: '#fff'
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        stacked: true,
                        grid: {
                            color: 'rgba(255, 255, 255, 0.0)',
                            display: false
                        },
                        // display: false,
                        ticks: {
                            color: 'white',
                        }
                    },
                    y: {
                        stacked: true,

                    }
                }
            }
        });


        var ctx2 = document.getElementById('chart_back');

        // Новый чарт с такими же параметрами как и первый чарт
        var myChart_back = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: data.map(item => {
                    var startTimestamp = item[0];
                    var endTimestamp = item[1];
                    return `${startTimestamp} - ${endTimestamp}`;
                }),
                datasets: [
                    {
                        label: 'Min Values',
                        data: data.map(item => item[2]),
                        backgroundColor: 'blue'
                    },
                    {
                        label: 'Max Values',
                        data: data.map(item => item[3]),
                        backgroundColor: 'red'
                    }
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: title,
                        // color: '#fff'
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        stacked: true,
                        grid: {
                            color: 'rgba(0, 0, 0, 0.0)',
                        },
                        // display: false,
                        ticks: {
                            color: '#333',
                        }
                    },
                    y: {
                        stacked: true,
                        display: false,
                        grid: {
                            color: 'rgba(255, 255, 255, 0.5)',
                        },
                        ticks: {
                            color: '#333',
                        }
                    }
                }
            }
        });

        var isShiftPressed = false;

        window.addEventListener('keydown', evt => {
            if (evt.key === 'Shift') {
                isShiftPressed = true;
            }
        });
        window.addEventListener('keyup', evt => {
            if (evt.key === 'Shift') {
                isShiftPressed = false;
            }
        });

        var overlay = document.getElementById('overlay');
        var selectionContext = overlay.getContext('2d');
        var selectionRect = {
            w: 0,
            startX: 0,
            startY: 0
        };
        var drag = false;

        overlay.width = ctx.width;
        overlay.height = ctx.height;

        var selectedIntervals = [];
        let isSelecting = true;

        // Слушаем Шифт и Кнопку мыши для выделения области
        ctx.addEventListener('pointerdown', evt => {
            // Нажата ли клавиша Shift
            if (isShiftPressed) {
                // Получаем точки, на которые указывает указатель мыши
                const points = myChart.getElementsAtEventForMode(evt, 'index', { intersect: false });
                
                // Проверяем, есть ли какие-либо точки (элементы графика) в указанной области
                if (points.length > 0) {
                    // Получаем область, и позицию указателя относительно него
                    const rect = ctx.getBoundingClientRect();

                    // Устанавливаем начальные координаты выделения
                    selectionRect.startX = evt.clientX - rect.left;
                    selectionRect.startY = myChart.chartArea.top;

                    // Устанавливаем флаг, сигнализирующий о начале перемещения (drag)
                    drag = true;
                }
            }
        });

        ctx.addEventListener('click', evt => {
            if (isShiftPressed && isSelecting) {
                
                selectedIntervals = [];  // Обнуление массива выбранных интервалов
                const points = myChart.getElementsAtEventForMode(evt, 'index', { intersect: false });

                if (points.length > 0) {
                    const rect = ctx.getBoundingClientRect();  // Получаем область
                    const startX = evt.clientX - rect.left;  // Начальные координаты клика
                    const startIndex = myChart.scales.x.getValueForPixel(startX);  // Получение индекса точки на горизонтальной шкале

                    if (startIndex !== null) {  // Проверка индекса точки
                        selectedIntervals.push([startIndex, startIndex]);  // Добавление нового интервала в массив
                        console.log('click');
                        updateChart();  // Обновление графика с учетом выбранных интервалов
                    }
                }
            }
        });


        ctx.addEventListener('pointermove', evt => {
            const rect = ctx.getBoundingClientRect();  // Получение координат прямоугольника области
            const newX = evt.clientX - rect.left;  // Вычисление новой координаты по X
            const y = evt.clientY - rect.top;  // Вычисление координаты по Y
            
            if (drag) {  // Если активен режим перетаскивания
                isSelecting = false;
                selectionRect.w = newX - selectionRect.startX;  // Вычисление ширины прямоугольной области выделения
                selectionContext.globalAlpha = 0.5;  // Установка полупрозрачности для области выделения
                selectionContext.clearRect(0, 0, overlay.width, overlay.height);  // Очистка области выделения
                selectionContext.fillRect(selectionRect.startX,  // Рисование прямоугольной области выделения
                    selectionRect.startY,
                    selectionRect.w,
                    myChart.chartArea.bottom - myChart.chartArea.top);
            } else {  // Если неактивен режим перетаскивания (рисование вертикальной линии)
                selectionContext.clearRect(0, 0, overlay.width, overlay.height);  // Очистка области выделения
                var x = evt.clientX - rect.left;  // Вычисление координаты X относительно области элемента

                if (x > myChart.chartArea.left) {  // Проверка, что координата X находится в пределах области графика
                    selectionContext.fillRect(x,  // Рисование вертикальной линии
                        myChart.chartArea.top,
                        1,
                        myChart.chartArea.bottom - myChart.chartArea.top);
                }
            }
        });


        ctx.addEventListener('pointerup', evt => {
            if (isShiftPressed) {
                drag = false;  // Отключение режима перетаскивания
                
                if (selectionRect.w !== 0) {  // Если была создана область выделения
                    var startX = selectionRect.startX;
                    var endX = startX + selectionRect.w;
                    var startIndex = myChart.scales.x.getValueForPixel(startX);
                    var endIndex = myChart.scales.x.getValueForPixel(endX);

                    // Инвертирование начального и конечного индексов, если выбор справа налево
                    if (startIndex > endIndex) {
                        var temp = startIndex;
                        startIndex = endIndex;
                        endIndex = temp;
                    }

                    if (startIndex !== null && endIndex !== null) {
                        selectedIntervals.push([startIndex, endIndex]);  // Добавление выбранного интервала в массив
                        updateChart();  // Обновление графика с учетом нового выбранного интервала
                    }

                    selectionContext.clearRect(0, 0, overlay.width, overlay.height);  // Очистка области выделения
                    selectionRect.w = 0;  // Сброс ширины области выделения
                } else {
                    isSelecting = true;
                }
            }
        });


        function updateChart() {
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            var selectedIntervalData = selectedIntervals.map(interval => {
                var startInterval = interval[0];
                var endInterval = interval[1];
                var start = data[startInterval][0];
                var end = data[endInterval][1];
                return { start_timestamp: start, end_timestamp: end };
            });

            $.ajax({
                type: 'POST',
                url: '{% url "app:update_interval" %}',
                data: {
                    intervals: selectedIntervalData,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (response) {
                    var newData = JSON.parse(response.data_json);

                    title = `${newData[0][0]} - ${newData[newData.length - 1][1]}`;

                    $('#chartTitle').text(title);

                    myChart.data.labels = newData.map(item => `${item[0]} - ${item[1]}`);
                    myChart.data.datasets[0].data = newData.map(item => item[2]);
                    myChart.data.datasets[1].data = newData.map(item => item[3]);
                    myChart.options.plugins.title.text = title;
                    myChart.update();
                    selectedIntervals = [];
                    data = newData;

                    myChart_back.data.labels = newData.map(item => `${item[0]} - ${item[1]}`);
                    myChart_back.data.datasets[0].data = newData.map(item => item[2]);
                    myChart_back.data.datasets[1].data = newData.map(item => item[3]);
                    myChart_back.options.plugins.title.text = title;
                    myChart_back.update();
                },
                error: function (xhr, errmsg, err) {
                    if (xhr.status === 400) {
                        var errorMessage = JSON.parse(xhr.responseText).error;
                        alert(errorMessage);
                    } else {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                }

            });
        }

    </script>
</body>

</html>