{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="container">
  <header>
    <form action="{% url 'app:populate' %}" method="post">
      {% csrf_token %}
      <button type="submit">Создать Базу <span>(если пустая)</span></button>
    </form>
    <form action="{% url 'app:clear_data' %}" method="post">
      {% csrf_token %}
      <button type="submit">Очистить данные</button>
    </form>
    <form action="{% url 'app:clear_cache' %}" method="post">
      {% csrf_token %}
      <button type="submit">Сбросить кеш</button>
    </form>

    
    <form id="intervalForm">
      <select id="intervalSelect">
          {% for interval in intervals %}
          <option value="{{ interval }}">{{ interval }}</option>
          {% endfor %}
      </select>
      <button type="button" id="updateButton">Применить</button>
  </form>
  <button id="prevButton">Предыдущий</button>
<button id="nextButton">Следующий</button>
  
  
  
  </header>
  <div class="canvas">
    <canvas id="chart"></canvas>
    <canvas id="overlay"></canvas>
    <canvas id="chart_back"></canvas>
  </div>
  
</div>


{% endblock %}